# Solar System Config File

# A total of 19 objects in our solar system

# Sun
Object: sun
Model: models/Sun.obj
Texture: textures/Sun.jpg
Orbit Axis: 0.0, 0.0, 0.0
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Mercury
Object: mercury
Model: models/Mercury.obj
Texture: textures/Mercury.jpg
Orbit Axis: 9.0, 0.0, 0.0
Orbit speed: 9.6
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Venus
Object: venus
Model: models/Venus.obj
Texture: textures/Venus.jpg
Orbit Axis: 18.0, 0.0, 0.0
Orbit speed: 7.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Earth
Object: earth
Model: models/Earth.obj
Texture: textures/Earth.jpg
Orbit Axis: 26.0, 0.0, 0.0
Orbit speed: 5.9
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Moon
Object: moon
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: 0.5, 0.0, 0.0
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Mars
Object: mars
Model: models/Mars.obj
Texture: textures/Mars.jpg
Orbit Axis: 30.0, 0.0, 0.0
Orbit speed: 4.8
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Jupiter
Object: jupiter
Model: models/Jupiter.obj
Texture: textures/Jupiter.jpg
Orbit Axis: 40.0, 0.0, 0.0
Orbit speed: 2.5
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 2.0

# Jupiter's Moon Europa
Object: europa
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: 1.0, 0.0, 0.0
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Jupiter's Moon Ganymede
Object: ganymede
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: 2.0, 0.0, 0.
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Jupiter's Moon Castillo
Object: castillo
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: 1.5, 0.0, 0.0
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Jupiter's Moon Io
Object: io
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: 4.0, 0.0, 0.0
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Saturn
Object: saturn
Model: models/Saturn.obj
Texture: textures/Saturn.jpg
Orbit Axis: 55.0, 0.0, 0.0
Orbit speed: 1.9
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 2.0

# Saturn's Moon Titan
Object: titan
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: 2.0, 0.0, 0.0
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Saturn's Moon Enceladus
Object: enceladus
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: 5.0, 0.0, 0.0
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Uranus
Object: uranus
Model: models/Uranus.obj
Texture: textures/Uranus.jpg
Orbit Axis: 77.0, 0.0, 0.0
Orbit speed: 1.3
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 2.0

# Uranus's Moon Titania
Object: titania
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: 1.0, 0.0, 0.0
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Neptune
Object: neptune
Model: models/Neptune.obj
Texture: textures/Neptune.jpg
Orbit Axis: 90.0, 0.0, 0.0
Orbit speed: 1.1
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Neptune's Moon Triton
Object: triton
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: 1.0, 0.0, 0.0
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Pluto
Object: pluto
Model: models/Pluto.obj
Texture: textures/Pluto.jpg
Orbit Axis: 115.0, 0.0, 0.0
Orbit speed: 0.9
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0
