# Solar System Config File

# A total of 19 objects in our solar system

# Sun
Object: sun
Model: models/Sun.obj
Texture: textures/Sun.jpg
Orbit Axis: 0.0, 0.0, 0.0
Orbit speed: 1.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: .04

# Mercury
Object: mercury
Model: models/Mercury.obj
Texture: textures/Mercury.jpg
Orbit Axis: 10.0, 0.0, 0.0
Orbit speed: 9.6
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: .01

# Venus
Object: venus
Model: models/Venus.obj
Texture: textures/Venus.jpg
Orbit Axis: 19.0, 0.0, 0.0
Orbit speed: 7.0
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: .004

# Earth
Object: earth
Model: models/Earth.obj
Texture: textures/Earth.jpg
Orbit Axis: 26.5, 0.0, 0.0
Orbit speed: 5.9
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Moon
Object: moon
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: 0.068, 0.0, 0.0
Orbit speed: .43
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Mars
Object: mars
Model: models/Mars.obj
Texture: textures/Mars.jpg
Orbit Axis: 40.5, 0.0, 0.0
Orbit speed: 4.8
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: .97

# Jupiter
Object: jupiter
Model: models/Jupiter.obj
Texture: textures/Jupiter.jpg
Orbit Axis: 138.2, 0.0, 0.0
Orbit speed: 2.5
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 2.41

# Jupiter's Moon Europa
Object: europa
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: .12, 0.0, 0.0
Orbit speed: .057
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Jupiter's Moon Ganymede
Object: ganymede
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: .18, 0.0, 0.
Orbit speed: .115
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Jupiter's Moon Callisto
Object: castillo
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: .33, 0.0, 0.0
Orbit speed: .269
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Jupiter's Moon Io
Object: io
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: .062, 0.0, 0.0
Orbit speed: .028
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Saturn
Object: saturn
Model: models/Saturn.obj
Texture: textures/Saturn.jpg
Orbit Axis: 254.0, 0.0, 0.0
Orbit speed: 1.9
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 2.25

# Saturn's Moon Titan
Object: titan
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: .21, 0.0, 0.0
Orbit speed: .25
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Saturn's Moon Enceladus
Object: enceladus
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: .042, 0.0, 0.0
Orbit speed: .022
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Uranus
Object: uranus
Model: models/Uranus.obj
Texture: textures/Uranus.jpg
Orbit Axis: 511.4, 0.0, 0.0
Orbit speed: 1.3
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.45

# Uranus's Moon Titania
Object: titania
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: .077, 0.0, 0.0
Orbit speed: .14
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Neptune
Object: neptune
Model: models/Neptune.obj
Texture: textures/Neptune.jpg
Orbit Axis: 800.0, 0.0, 0.0
Orbit speed: 1.1
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.48

# Neptune's Moon Triton
Object: triton
Model: models/Pluto.obj
Texture: textures/object.jpg
Orbit Axis: .062, 0.0, 0.0
Orbit speed: .094
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: 1.0

# Pluto
Object: pluto
Model: models/Pluto.obj
Texture: textures/Pluto.jpg
Orbit Axis: 1048.5, 0.0, 0.0
Orbit speed: 0.9
Rotation Axis: 0.0, 1.0, 0.0
Rotation speed: .156
